/* Cabecera de la tabla con tu color primario (Verde Azulado) */
.custom-thead {
    background-color: var(--color-primario);
    color: white;
}

.custom-thead th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    padding: 15px 10px;
    border: none;
}

/* Efecto en las filas */
.custom-tr {
    transition: all 0.2s ease;
    border-left: 4px solid transparent;
}

.custom-tr:hover {
    background-color: rgba(0, 85, 85, 0.05) !important;
    border-left: 4px solid var(--color-secundario); /* El granate aparece al hover */
}

/* Botones de acción específicos para la tabla */
.btn-outline-primario {
    color: var(--color-primario);
    border-color: var(--color-primario);
}
.btn-outline-primario:hover {
    background-color: var(--color-primario);
    color: white;
}

.btn-outline-acento-table {
    color: var(--color-secundario);
    border-color: var(--color-secundario);
}
.btn-outline-acento-table:hover {
    background-color: var(--color-secundario);
    color: white;
}

.text-primario {
    color: var(--color-primario) !important;
}

.spinner-border.text-primario {
    color: var(--color-primario) !important;
}