.custom-navbar {
    background-color: var(--color-primario);
    border-bottom: 5px solid var(--color-secundario);
}

.btn-login {
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.btn-login:hover {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border-color: var(--color-fondo);
    transform: translateY(1px);
}