// Personalización del Navbar
.custom-navbar {
    background: linear-gradient(135deg,
            var(--navbar-grad-1) 0%,
            var(--navbar-grad-2) 100%);

    border-bottom: 5px solid var(--color-secundario);
    backdrop-filter: blur(5px);
    z-index: 1200;
}

.nombre-animado {
    perspective: 1000px; // Esto hace que el giro se vea en 3D

    .letra {
        display: inline-block;
        transform-origin: 50% 50%; // El giro será sobre su propio centro
        will-change: transform, opacity;
    }
}

// Boton Acceder
.btn-secundario {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease;

    &:hover {
        background-color: var(--color-secundario);
        border-color: var(--color-secundario);
        color: var(--color-fondo);
        transform: translateY(-1px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.dropdown-toggle.show::after {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}