.custom-navbar {
    background: linear-gradient(
        135deg, 
        rgb(222, 222, 222, 0.9) 0%, 
        rgba(0, 34, 34, 0.9) 100%
    );
    
    border-bottom: 5px solid var(--color-secundario);
}

.btn-login {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.btn-login:hover {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border-color: var(--color-fondo);
    transform: translateY(1px);
}