.logo-preview {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 1%;
    }
}

.btn-primario {
    color: var(--color-primario);
    border-color: var(--color-primario);
    &:hover {
        background-color: var(--color-primario);
        color: white;
    }
}