// 1. Importaciones
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

// 2. Variables de colores
:root {
    --color-primario: #004444;
    --color-secundario: #660000;
    --color-fondo: #f8f8f8;
    --color-texto: #080808;
}

// 3. Estilos de Base
body {
    // Tipografía y Colores
    font-family: 'Zalando Sans', sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    
    // Layout
    padding-top: 95px;

    // Sobrescritura de colores de Bootstrap
    --bs-primary: var(--color-primario);
    --bs-primary-rgb: 0, 68, 68;
    --bs-secondary: var(--color-secundario);
    --bs-secondary-rgb: 102, 0, 0;
    
}